/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

@font-face {
    font-family: gamecube;
    src: url(GamecubenDualset-L85D.ttf);
}

body {
  background-color: silver;
  color: black;
  font-family: "gamecube";
}
mark {
  background-color: rgb(255, 255, 255);
  color: black;
}
